%center
  - if current_user.referral_emails.count > 0
    %h3
      List of Emails you Referred:
    %table.table.table-striped
      %th.text-center
        Receiver
      %th.text-center
        Sent Date
      - @referred_emails.each do |referred_email|
        %tr
          %td.text-center
            = referred_email.receiver
          %td.text-center
            = referred_email.created_at
    .row
      .col
        = paginate @referred_emails
  - else
    .alert.alert-warning
      %b
        You have not sent any referrals yet.
    %div.text-center
