!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome to example.com
    %p
      This is a nice App.
      URL of this app is http://localhost:3000
      Please visit the app.

